
.icon-mail:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-cloud-sun:before { content: '\e802'; } /* '' */
.icon-graduation-cap:before { content: '\e803'; } /* '' */
.icon-graduation-cap-1:before { content: '\e804'; } /* '' */
.icon-lightbulb:before { content: '\e805'; } /* '' */
.icon-bus:before { content: '\e80b'; } /* '' */
.icon-reply:before { content: '\f02a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */